<header>
	<a href="{{websiteUrl}}" id="logo">Fitness Ration</a>
	<div id="togglembnav">&nbsp;</div>
	<nav>
		<ul>
			<li class="about">About
				<ul>
					<li class="food"><a href="{{websiteUrl}}food.php">Food</a></li>
					<li class="team"><a href="{{websiteUrl}}team.php">Team</a></li>
					<li class="faq"><a href="{{websiteUrl}}faq.php">FAQ</a></li>
				</ul>
			</li>
			<li class="meals">Our Meals
				<ul>
					<li class="menu"><a href="{{websiteUrl}}menu.php">Menu</a></li>
					<li class="nutrition"><a href="{{websiteUrl}}nutrition.php">Nutrition</a></li>
					<li class="rates"><a href="{{websiteUrl}}pricing.php">Rates</a></li>
					<li class="addons"><a href="{{websiteUrl}}addons.php">Add ons</a></li>
				</ul>
			</li>
		</ul>
		<ul class="secondarynav">
			<li class="phone"><a href="tel:+6566353465">+65 6635 3465</a></li>
			<li class="user">{{username}}
				<ul>
					<li class="profile"><a href="{{userDashboardUrl}}profile">Profile</a></li>
					<li class="preferences"><a href="{{userDashboardUrl}}preferences">Preferences</a></li>
					<li class="orders"><a href="{{userDashboardUrl}}orders">Orders</a></li>
				</ul>
			</li>
			<li class="login"><a href="#">Log in</a></li>
		</ul>
	</nav>
	<a href="{{orderWizardUrl}}" class="order">Order Now</a>
</header>
