@import '../../styles/_header'
:host
	display block
	.popup--allergy
		&__allergies
			width 187px
			margin 0 auto
			> li
				display flex
				&:not(:first-child)
					margin-top 10px
		&__amount
			margin-left auto
		&__include
			margin-right 10px
		&__save
			width 247px
			height 43px
			border-radius 3px
			border 1px solid #B7BBC0
			background white
			font-size 14.5px
			font-weight bold
			font-family 'Mission Gothic'
			color #6A6A6A
	> p
		border-top 1px solid #E1E1E1
		margin 10px -21px
		padding 10px 21px
		text-align center
