@import '../../styles/_header'
:host
	.body
		margin-bottom 0
		padding-bottom 0
		text-align center
		r-padding-top 183px 80px
		m-background-size 90px
		background-repeat no-repeat
		background-image url(/app/common/images/check.svg)
		r-background-position top 57px center, top 4px center
		d-width 492px
		h3, p
			color $accent-color
		h3
			font-weight normal
			r-font-size 40px 24px
			font-family 'League Spartan'
		p
			margin-bottom 70px
			r-font-size 30px 18px
	.footer
		.next:before
			content ''
