@import '../../styles/_header'
:host
	.body
		.meal-plans
			meal-plan-list()
	.footer
		.login
			cursor pointer
			background-color $background-b-color
			color $secondary-text-color
			@media mobile
				font-size 14px
				background $background-a-color
