@import '../../styles/_header'
:host
	textarea
		height 57px
		margin-bottom 1px
	.postal-code
		display flex
		align-items center
		margin-bottom 29px
		label
			margin-right 10px
			margin-bottom 0
			color #A0A0A0
			font-size 12.25px
			line-height 1.08em
	input[type="submit"]
		button()
